<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DSO</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ToMenu</display-name>
		<servlet-name>ToMenu</servlet-name>
		<servlet-class>DSO.controller.ToMenu</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ToLike</display-name>
		<servlet-name>ToLike</servlet-name>
		<servlet-class>DSO.controller.ToLike</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Like_Insert_service</display-name>
		<servlet-name>Like_Insert_service</servlet-name>
		<servlet-class>DSO.controller.Like_Insert_service</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Like_Delete_service</display-name>
		<servlet-name>Like_Delete_service</servlet-name>
		<servlet-class>DSO.controller.Like_Delete_service</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewsUp</display-name>
		<servlet-name>viewsUp</servlet-name>
		<servlet-class>DSO.controller.viewsUp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ToChat</display-name>
		<servlet-name>ToChat</servlet-name>
		<servlet-class>DSO.controller.ToChat</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ToBuy</display-name>
		<servlet-name>ToBuy</servlet-name>
		<servlet-class>DSO.controller.ToBuy</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>id_confirm</display-name>
		<servlet-name>id_confirm</servlet-name>
		<servlet-class>DSO.controller.id_confirm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>c_id_confirm</display-name>
		<servlet-name>c_id_confirm</servlet-name>
		<servlet-class>DSO.controller.c_id_confirm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Forget_password_service</display-name>
		<servlet-name>Forget_password_service</servlet-name>
		<servlet-class>DSO.controller.Forget_password_service</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToMenu</servlet-name>
		<url-pattern>/ToMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToLike</servlet-name>
		<url-pattern>/ToLike</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Like_Insert_service</servlet-name>
		<url-pattern>/Like_Insert_service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Like_Delete_service</servlet-name>
		<url-pattern>/Like_Delete_service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewsUp</servlet-name>
		<url-pattern>/viewsUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToChat</servlet-name>
		<url-pattern>/ToChat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToBuy</servlet-name>
		<url-pattern>/ToBuy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>id_confirm</servlet-name>
		<url-pattern>/id_confirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>c_id_confirm</servlet-name>
		<url-pattern>/c_id_confirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forget_password_service</servlet-name>
		<url-pattern>/Forget_password_service</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
