<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="DSO/db/db.properties" />

<typeAliases>
		<typeAlias alias="VO" type="DSO.model.Client_register_VO"/>
		<typeAlias alias="MessageVO" type="DSO.model.Specialist_register_VO"/>
		<typeAlias alias="ChatVO" type="DSO.model.Portfolio_VO"/>
	</typeAliases>


  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="DSO/db/mapper.xml"/>
  </mappers>
</configuration>