<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DSO.db.mapper">

<!-- 의뢰인 회원가입 -->
  <insert id="clientjoin" parameterType="Client_register_VO">
  	insert into tbl_client values(#{c_id},#{c_pw},#{c_job},#{c_name},#{c_business},#{c_interest},sysdate)
  </insert>

<!-- 의뢰인 회원탈퇴 -->
  <delete id="clientdelete" parameterType="String">
  	delete from tbl_client where c_id=#{c_id}
  </delete>

<!-- 전문가 회원가입 -->
  <insert id="specialistjoin" parameterType="Specialist_register_VO">
  	insert into tbl_specialist values(#{s_id},#{s_pw},#{s_job},#{s_name},#{s_business},#{s_interest},sysdate)
  </insert>
  
  <!-- 전문가 회원탈퇴 -->
  <delete id="specialdelete" parameterType="String">
  	delete from tbl_client where c_id=#{s_id}
  </delete>

<!-- 의뢰인 로그인 -->
  <select id="clientlogin" resultType="Client_register_VO" parameterType="Client_register_VO">
  	select * from tbl_client where c_id=#{c_id} and c_pw=#{c_pw}
  </select>

<!-- 전문가 로그인 -->
  <select id="specialistlogin" resultType="Specialist_register_VO" parameterType="Specialist_register_VO">
  	select * from tbl_specialist where s_id=#{s_id} and s_pw=#{s_pw}
  </select>
  
  <!-- 의뢰인 수정 -->
  <update id="clientupdate" parameterType="Client_register_VO">
  	update tbl_client set c_id=#{c_id},c_pw=#{c_pw},c_name=#{c_name},c_business=#{c_business} c_interest=#{c_interest}
  </update>
  
<!-- 전문가 수정 -->
  <update id="specialistupdate" parameterType="Specialist_register_VO">
  	update tbl_speciallist set s_id=#{s_id},s_pw=#{s_pw},s_name=#{s_name},s_business=#{s_business} s_interest=#{s_interest}
  </update>
  
<!-- 서비스 등록 -->
  <insert id="serviceregister" parameterType="Service_register_VO">
  	insert into tbl_service2 values(tbl_service_seq.nextval,#{service_title},#{service_category},#{service_price},#{service_desc},#{service_requisite},#{service_img},sysdate) 
  </insert>   
  
<!-- 서비스 수정 -->
  <update id="serviceupdate" parameterType="Service_register_VO">
  	update tbl_service2 set service_title=#{service_title},service_category=#{service_category},service_price=#{service_price},service_desc=#{service_desc},service_requisite=#{service_requisite},service_img=#{service_img}
  </update>
  
<!-- 포트폴리오 등록 -->
   <select id="selectAllportfolios" resultType="Portfolio_VO">
        SELECT * FROM tbl_portfolio1
    </select>

    <insert id="PortfolioInsert" parameterType="Portfolio_VO">
        INSERT INTO tbl_portfolio1 VALUES (tbl_portfolio1_SEQ.nextval,#{s_Id}, #{pf_Img1},sysdate)
    </insert>

 <!--    <delete id="PortfolioDelete" parameterType="int">
        DELETE FROM tbl_portfolio
        WHERE pf_seq = #{pf_seq}
    </delete> -->

<!-- 검색 -->
	<select id="selectSearch" resultType="DSO.model.Service_info_pr_VO" parameterType="string">
		SELECT * FROM tbl_SERVICE3 Where service_TITLE LIKE '%${value}%' 
	</select>
	
<!-- 큰 카테고리 게시물 불러오기 -->
	<select id="selectCateMenu" resultType="DSO.model.Service_info_pr_VO" parameterType="string">
		Select * from tbl_service3 where service_categorynum1 = #{menu}
	</select>
	
<!-- 작은 카테고리 게시물 불러오기 -->
	<select id="selectCateSmenu" resultType="DSO.model.Service_info_pr_VO" parameterType="string">
		Select * from tbl_service3 where service_categorynum2 = #{smenu}
	</select>
	
<!-- 게시물 한개 불러오기 -->
	<select id="selectPost" resultType="DSO.model.Service_info_pr_VO">
		select * from tbl_service3 where service_seq = #{seq}
	</select>
	
<!-- 좋아요 게시물 불러오기 -->
	<select id="selectLike" resultType="DSO.model.Like_VO" parameterType="string">
		select A.c_id , B.* 
		from tbl_likelist A, tbl_service3 B 
		where A.c_id = #{value} 
		and A.service_seq = B.service_seq
	</select>

	
<!-- 좋아요 추가 -->
	<insert id="insertLike" parameterType="DSO.model.Like_VO">
        INSERT INTO tbl_likelist VALUES (#{service_seq},#{c_id})
    </insert>
    
<!-- 좋아요 삭제 -->
	<delete id="deleteLike" parameterType="DSO.model.Like_VO">
		delete from tbl_likelist where service_seq = #{service_seq} and c_id = #{c_id}
	</delete>		

<!--의뢰인 댓글 별점 등록-->
	<insert id="freereplyinsert" parameterType="DSO.model.Freereply_VO">
		insert into tbl_freereply2(rep_seq,loginC,review,rate,service_seq) values(tbl_freereply2_SEQ.nextval,#{loginC},#{review},#{rate},#{service_seq})
	</insert>

	
<!--의뢰인 댓글 별점 조회-->
	<select id="freereplyselect" resultType="DSO.model.Freereply_VO">
		select * from tbl_freereply2 where service_seq=#{service_seq} 
	</select>		

<!-- 게시물 조회수 증가 -->
		<update id="views" parameterType="DSO.model.viewsVO">
		update tbl_list set views=#{views}
		</update>

</mapper>